.nav-btn {
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  // max-width: 1024, 1376, 969, 1200, 992
  .btn-cate {
    padding: 10px 5px;
    margin-left: auto;
    font-size: 18px;
    outline: none;
    border: none;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: crimson;
      transform: translateY(-2px);
    }
  }
  .btn-cate.active {
    font-size: 20px;
    color: crimson;
    border-bottom: 3px solid crimson;
  }
}
