.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: black;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  transition: all 0.3s ease;
  .title {
    font-family: "Ubuntu";
    font-size: 40px;
    font-weight: 500;
    color: crimson;
  }
  .btn-checkout {
    font-family: "Ubuntu";
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      border: 1px solid crimson;
      background: crimson;
      font-size: 20px;
      color: white;
      border-radius: 10px;
    }
  }
}
.sticky {
  height: 60px;
  padding: 0 40px;
  background: white;
  box-shadow: 0px 5px 11px -4px rgba(115, 115, 115, 1);
  .btn-checkout {
    color: black;
  }
}
